body {
    font-family: "Inter", sans-serif;
    line-height: 1.6;
    margin: 20px;
    font-style: italic;
}
h1, h2, h3 {
    color: #333;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: italic;
}
a {
    color: #0077cc;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}